* {
    background-color: rgb(228, 212, 184);
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 50px auto;
}

h1 {
    box-shadow: 0px 0px 4px 2px rgb(0, 0, 0);
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
    padding: 2%;
}

.button {
    border-radius: 10px;
    background-color: slategray;
    color: white;
    box-shadow: 0px 0px 4px 1px rgb(0, 0, 0);
    margin: 5px;
    padding: 5px;
}

div.images {
    margin: 15px;
    border: 3px dotted slategray;
    float: left;
    background-size: contain;
}

div.images img {
    width: 200px;
    height: 175px;
    overflow: hidden;
    position: relative;
}

